**Reading the table of July-2018, 2020, 2022 with selected columns**

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

# Didn't merge any tables of different years 
air_2018_df = pd.read_csv('./07-2018 Airport.csv')
air_2020_df = pd.read_csv('./07-2020 Airport.csv')
air_2022_df = pd.read_csv('./07-2022 Airport.csv')

air_2018_df.head(10)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018,3,7,1,7,7/1/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1527.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,3,7,2,1,7/2/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1419.0,42.0,0.0,NaN,8.0,0.0,0.0,0.0,34.0
2,2018,3,7,3,2,7/3/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1454.0,77.0,0.0,NaN,74.0,0.0,0.0,0.0,3.0
3,2018,3,7,4,3,7/4/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1415.0,38.0,0.0,NaN,10.0,0.0,0.0,0.0,28.0
4,2018,3,7,5,4,7/5/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1323.0,-14.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2018,3,7,6,5,7/6/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1347.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,2018,3,7,7,6,7/7/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1405.0,28.0,0.0,NaN,28.0,0.0,0.0,0.0,0.0
7,2018,3,7,8,7,7/8/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1320.0,-17.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2018,3,7,9,1,7/9/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1422.0,45.0,0.0,NaN,45.0,0.0,0.0,0.0,0.0
9,2018,3,7,10,2,7/10/2018 12:00:00 AM,20409,12478,JFK,11697,...,1337,1316.0,-21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
air_2018_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501590 entries, 0 to 501589
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   501590 non-null  int64
 1   QUARTER                501590 non-null  int64
 2   MONTH                  501590 non-null  int64
 3   DAY_OF_MONTH           501590 non-null  int64
 4   DAY_OF_WEEK            501590 non-null  int64
 5   FL_DATE                501590 non-null  object
 6   OP_CARRIER_AIRLINE_ID  501590 non-null  int64
 7   ORIGIN_AIRPORT_ID      501590 non-null  int64
 8   ORIGIN                 501590 non-null  object
 9   DEST_AIRPORT_ID        501590 non-null  int64
 10  DEST                   501590 non-null  object
 11  CRS_DEP_TIME           501590 non-null  int64
 12  DEP_TIME               494496 non-null  float64
 13  DEP_DELAY              494471 non-null  float64
 14  CRS_ARR_TIME           501590 non-null  int64
 15  ARR_TIME               494018 non-null  float64
 16  ARR_DELAY              492572 non-null  float64
 17  CANCELLED              501590 non-null  float64
 18  CANCELLATION_CODE      7430 non-null    object
 19  CARRIER_DELAY          112955 non-null  float64
 20  WEATHER_DELAY          112955 non-null  float64
 21  NAS_DELAY              112955 non-null  float64
 22  SECURITY_DELAY         112955 non-null  float64
 23  LATE_AIRCRAFT_DELAY    112955 non-null  float64
dtypes: float64(10), int64(10), object(4)
memory usage: 91.8+ MB

**Exploring cancelled airlines or airports**

In [3]:
# if variable 'cancelled' == 1, then it's cancelled. 
cancelled_2018 = air_2018_df[air_2018_df['CANCELLED']==1]
cancelled_2018

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
24,2018,3,7,25,3,7/25/2018 12:00:00 AM,20409,12478,JFK,11697,...,1407,NaN,NaN,1.0,A,NaN,NaN,NaN,NaN,NaN
88,2018,3,7,27,5,7/27/2018 12:00:00 AM,20409,12889,LAS,11697,...,548,NaN,NaN,1.0,A,NaN,NaN,NaN,NaN,NaN
208,2018,3,7,23,1,7/23/2018 12:00:00 AM,20409,14771,SFO,12478,...,1509,NaN,NaN,1.0,B,NaN,NaN,NaN,NaN,NaN
280,2018,3,7,2,1,7/2/2018 12:00:00 AM,20409,10721,BOS,14027,...,1521,NaN,NaN,1.0,A,NaN,NaN,NaN,NaN,NaN
295,2018,3,7,17,2,7/17/2018 12:00:00 AM,20409,10721,BOS,14027,...,1521,NaN,NaN,1.0,A,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501031,2018,3,7,24,2,7/24/2018 12:00:00 AM,20304,14771,SFO,10157,...,2358,NaN,NaN,1.0,B,NaN,NaN,NaN,NaN,NaN
501136,2018,3,7,24,2,7/24/2018 12:00:00 AM,20304,14771,SFO,10157,...,2004,NaN,NaN,1.0,B,NaN,NaN,NaN,NaN,NaN
501217,2018,3,7,24,2,7/24/2018 12:00:00 AM,20304,14783,SGF,11292,...,1023,NaN,NaN,1.0,B,NaN,NaN,NaN,NaN,NaN
501242,2018,3,7,24,2,7/24/2018 12:00:00 AM,20304,15023,STS,14771,...,1805,NaN,NaN,1.0,B,NaN,NaN,NaN,NaN,NaN
501316,2018,3,7,24,2,7/24/2018 12:00:00 AM,20304,14252,PSC,11292,...,910,NaN,NaN,1.0,B,NaN,NaN,NaN,NaN,NaN

In [4]:
'''
Variable 'CANCELLATION_CODE'
A: Carrier
B: Weather
C: National Air System
D: Security

cc_a = cancelled airline due to carrier (A)..
'''
cc_a_2018 = cancelled_2018[cancelled_2018['CANCELLATION_CODE']=='A']
cc_b_2018 = cancelled_2018[cancelled_2018['CANCELLATION_CODE']=='B']
cc_c_2018 = cancelled_2018[cancelled_2018['CANCELLATION_CODE']=='C']
cc_d_2018 = cancelled_2018[cancelled_2018['CANCELLATION_CODE']=='D']

In [5]:
# counting occasions by the cancellation_code
print(len(cc_a_2018))
print(len(cc_b_2018))
print(len(cc_c_2018))
print(len(cc_d_2018))

2788
2554
2088
0

In [6]:
# 2020 cancellation
cancelled_2020 = air_2020_df[air_2020_df['CANCELLED']==1]

cc_a_2020 = cancelled_2020[cancelled_2020['CANCELLATION_CODE']=='A']
cc_b_2020 = cancelled_2020[cancelled_2020['CANCELLATION_CODE']=='B']
cc_c_2020 = cancelled_2020[cancelled_2020['CANCELLATION_CODE']=='C']
cc_d_2020 = cancelled_2020[cancelled_2020['CANCELLATION_CODE']=='D']

print(len(cc_a_2020))
print(len(cc_b_2020))
print(len(cc_c_2020))
print(len(cc_d_2020))

1249
500
23
1041

In [7]:
# 2022 cancellation
cancelled_2022 = air_2022_df[air_2022_df['CANCELLED']==1]

cc_a_2022 = cancelled_2022[cancelled_2022['CANCELLATION_CODE']=='A']
cc_b_2022 = cancelled_2022[cancelled_2022['CANCELLATION_CODE']=='B']
cc_c_2022 = cancelled_2022[cancelled_2022['CANCELLATION_CODE']=='C']
cc_d_2022 = cancelled_2022[cancelled_2022['CANCELLATION_CODE']=='D']

print(len(cc_a_2022))
print(len(cc_b_2022))
print(len(cc_c_2022))
print(len(cc_d_2022))

4488
4206
1783
69

**Exploring delays**

In [8]:
'''
CarrierDelay
Carrier Delay, in Minutes

WeatherDelay
Weather Delay, in Minutes

NASDelay
National Air System Delay, in Minutes

SecurityDelay
Security Delay, in Minutes

LateAircraftDelay
Late Aircraft Delay, in Minutes

da_c = delayed airline due to carrier..
'''

da_c_2018 = air_2018_df[air_2018_df['CARRIER_DELAY']==1]
da_w_2018 = air_2018_df[air_2018_df['WEATHER_DELAY']==1]
da_n_2018 = air_2018_df[air_2018_df['NAS_DELAY']==1]
da_s_2018 = air_2018_df[air_2018_df['SECURITY_DELAY']==1]
da_l_2018 = air_2018_df[air_2018_df['LATE_AIRCRAFT_DELAY']==1]

In [9]:
# counting occasions by the cause of delay
print(len(da_c_2018))
print(len(da_w_2018))
print(len(da_n_2018))
print(len(da_s_2018))
print(len(da_l_2018))

2210
112
2790
13
1039

In [10]:
# 2020 Delays
da_c_2020 = air_2020_df[air_2020_df['CARRIER_DELAY']==1]
da_w_2020 = air_2020_df[air_2020_df['WEATHER_DELAY']==1]
da_n_2020 = air_2020_df[air_2020_df['NAS_DELAY']==1]
da_s_2020 = air_2020_df[air_2020_df['SECURITY_DELAY']==1]
da_l_2020 = air_2020_df[air_2020_df['LATE_AIRCRAFT_DELAY']==1]
print(len(da_c_2020))
print(len(da_w_2020))
print(len(da_n_2020))
print(len(da_s_2020))
print(len(da_l_2020))

249
32
568
0
118

In [11]:
# 2022 Delays
da_c_2022 = air_2022_df[air_2022_df['CARRIER_DELAY']==1]
da_w_2022 = air_2022_df[air_2022_df['WEATHER_DELAY']==1]
da_n_2022 = air_2022_df[air_2022_df['NAS_DELAY']==1]
da_s_2022 = air_2022_df[air_2022_df['SECURITY_DELAY']==1]
da_l_2022 = air_2022_df[air_2022_df['LATE_AIRCRAFT_DELAY']==1]
print(len(da_c_2022))
print(len(da_w_2022))
print(len(da_n_2022))
print(len(da_s_2022))
print(len(da_l_2022))

2557
109
3293
16
921